
.wrapper {
  background: rgb(39,37,37);
  background: linear-gradient(320deg, rgba(39,37,37,1) 0%, rgba(98,86,83,1) 27%, rgba(168, 103, 77, 1) 59%, rgba(161,158,159,1) 81%, rgba(191,196,191,1) 100%); 
  padding: 0;
}

.navbar::after {
  content: "";
  background: url('./images/black\ triangles.png');
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.navbar h1 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
}

#triangles .nav-link {
  color: white;
}

.main-content {
  padding-top: 70px;
}

.card {
  background-color: transparent;
  text-align: center;
}

@media (min-width: 576px) {
  .main-content {
    padding-top: 90px;
  }
  footer {
    
    position: relative;
    background-color: black;
  }
  footer::after {
    content: "";
    background: url('./images/black\ triangles.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }
}

footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
footer p {
  margin: 0.25rem;
}

  
